/* global variables */
:root {
  --dark: rgb(41, 41, 41);
  --light: white;
  --electric: rgb(195, 0, 255);
  --electric-gradient: linear-gradient(rgb(125, 32, 125), rgb(187, 26, 187));
  --electric-companion: rgb(41, 212, 255);
  --heading-font: sans-serif;
  --body-font: sans-serif;
  --code-font: monospace;
}

/* global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--body-font);
}

/* typography */
h1,
h2,
h3 {
  color: var(--electric);
  margin: 2% 0;
}

::selection {
  color: var(--dark);
  background-color: var(--electric-companion);
}

/* sections styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 20%;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

footer {
  display: flex;
  justify-content: center;
}

/* card styles */
.snippet-card {
  padding: 1em;
  flex: 1 0 325px;
  margin: 1.5em;
  border: dashed 2px var(--light);
  transition: ease-in-out 0.25s;
}

.snippet-card:hover,
.snippet-card:hover .snippet-card-header {
  box-shadow: 0 0 24px var(--electric);
  transition: ease-in-out 0.25s;
}

.snippet-card-header {
  margin-top: -40px;
  padding: 8px;
  border: solid 2px var(--light);
  background-color: var(--dark);
  border-radius: 8px;
}

.snippet-card-description {
  margin: 16px 0;
  color: var(--electric);
}

.snippet-card-code {
  background: var(--electric-gradient);
  border-radius: 8px;
  padding: 8px;
}

.snippet-card-code pre code {
  user-select: all;
}
